@font-face {
  font-family: "Bob's Burgers 2";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bob's Burgers 2.woff");
}

@font-face {
  font-family: "Bob's Burgers";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bob's Burgers.woff") 
}

/* FONTS */
.bobs-font{
  font-family: "Bob's Burgers 2", sans-serif;
}
.bobs-font2{
  font-family: "Bob's Burgers", sans-serif;
}
.just-another-hand-regular {
  font-family: "Just Another Hand", serif;
}

/* BACKGROUND */
html body{
  background-image:url("./assets/bobs-burgers-background.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* INTRO */
.intro-container{
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0px 2px 10px black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EDE9E6;
  position: relative;

}

.intro-title{
  border: .25rem solid #FD0D2A;
  background-color: #FFE001;
  color:black;
  font-size: 4rem;
  text-align: center;
  padding: .5rem;
  width: fit-content;
  box-shadow: -2px 2px 2px black;
  border-radius: 8px;
  font-family: "Bob's Burgers", sans-serif;

}

.intro-text{
  font-family: "Just Another Hand", serif;
  font-size: 1.5rem;
}

.intro-btn{
  font-family: "Bob's Burgers", serif;
  letter-spacing: .1rem;
  font-weight: 500;
  font-size: 2rem;
  padding: .25rem 2rem;
  background-color:hsla(60, 26%, 75%, 0.562);
  border: 2px solid black;
  border-radius: 8px;
  color: black;
}

.intro-btn:hover{
  background-color: hsla(60, 26%, 75%, 0.336);
}

/* OPTIONS */
.char-img{
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: top;
  padding: 1rem 0;
}

.options-container{
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.option-card{
  font-size: 1.5rem;
  border-radius: 5px;
  font-family: "Just Another Hand", serif;
}

.option-card:disabled {
  opacity: 100%;
}

.active{
  border: 2px solid #FD0D2A;
  background: #FFE001;
}

.correct-answer{
  border: 2px solid #3aaf16;
  background: #89d373;
}

.incorrect-answer{
  border: 2px solid #af1616;
  background: #d37373;
}

.question-marker{
  right: 0;
  top: 0;
  font-family: "Just Another Hand", serif;
  font-size: 1.25rem;
  margin-right: 5px
}

footer{
  right: 0;
  bottom: 0;
  position: absolute;
  color: white;
  padding: .15rem .5rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 5px;
}

footer a{
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .intro-title{
    font-size: 1.85rem;
  }

  .intro-container{
    max-width: 350px;
  }

  .intro-btn, .option-card, .intro-text{
    font-size: 1rem;
  }

  .char-img{
    width: 150px;
    height: 250px;
  }

  footer{
    font-size: .5rem;
  }

  .question-marker{
    font-size: 1rem;
  }
}