@font-face {
  font-family: "Bob's Burgers 2";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bob's Burgers 2.woff");
}

@font-face {
  font-family: 'Bobs Burgers';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bob's Burgers.woff") 
}

/* FONTS */
.bobs-font{
  font-family: "Bob's Burgers 2", sans-serif;
}

.bobs-font2{
  font-family: 'Bobs Burgers', sans-serif;
}

.just-another-hand-regular {
  font-family: "Just Another Hand", serif;
}


/* INTRO */
.intro-container{
  margin: 1rem;
  justify-content: center;
  display: flex;
}


.bob-sign-style{
  border: .5rem solid #FD0D2A;
  background-color: #FFE001;
  color:black;
  font-size: 2.5rem;
  text-align: center;
  padding: .5rem;
  width: fit-content;
  
}

.bob-sign-style::before{
  background: none;
  border-radius: 1px solid black;
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}


.question-container, .intro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.char-img{
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  
}

.options-container{
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.active{
  border: 1.5px solid rgb(206, 85, 95);
}